<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Your Todos || 你的土豆</title>
    <link rel="stylesheet" href="../client/static/css/main.css">
</head>
<body>
<main id="main-container" class="todos-panel">
    <input type="text" class="todo-input" placeholder="TO DO 输入并回车 :-)">

    <ul class="todo-list">
        <li class="todo-item">
            <input type="checkbox" class="todo-checkbox">
            今晚吃什么?
            <span class="todo-cancel" title="取消">X</span>
        </li>
    </ul>
</main>
</body>
<script src="../client/static/output/js/view/main/index.bundle.js"></script>
</html>